
[nest]
  pollinterval = 20

[nest.api]
  accesstoken = ""
  authcode = ""
  authurl = "https://home.nest.com/login/oauth2?client_id={{client_id}}&state=STATE"
  clientid = ""
  clientsecret = ""
  tokenurl = "https://api.home.nest.com/oauth2/access_token"

[server]
  listenaddr = ":8888"

[storage]
  maxtokeep = 100
